@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;700&display=swap');

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: calc(16px + 0.369vw);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Red Rose', cursive;
  background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
}
